{% load static %}


<!DOCTYPE html>
<html lang="en",
<head>
    <meta charset="UTF-8" name="viewport" content="width = device-width, initial-scale=1 ">
    <title>{% block title %}Django Dersleri{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>

    {% include 'header.html' %}

    {% include 'messages.html' %}

    <img src="/static/resim1.jpg">

    {% block body %}

    {% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</body>
</html>