{% extends 'base.html' %}

{%block title%}Anasayfa{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px;">1.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px;">2.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: rgb(0, 255, 191); height: 100px;">3.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: rgb(221, 255, 0); height: 100px;">4.urun</div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px;">1.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px;">2.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: rgb(0, 255, 191); height: 100px;">3.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: rgb(221, 255, 0); height: 100px;">4.urun</div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px;">1.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px;">2.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: rgb(0, 255, 191); height: 100px;">3.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: rgb(221, 255, 0); height: 100px;">4.urun</div>
        </div>
         <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px;">1.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px;">2.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: rgb(0, 255, 191); height: 100px;">3.urun</div>
            <div class="col-md-3 col-sm-6" style="background-color: rgb(221, 255, 0); height: 100px;">4.urun</div>
        </div>

    </div>


{% endblock %}

