{% extends 'base.html' %}


{% block body %}

        <div class="container">

        <div class="row" >
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="col-md-6 col-md-offset-3" >
                <div class="thumbnail">
                    <div class="caption">
                        {% if post.image %}
                        <img src=" {{ post.image.url }} " class="img-responsive">
                        {% endif %}
                        <h3>{{post.baslik}} <small>{{post.yayimlanma_tarihi}}</small></h3>
                        <small> by {{post.user.get_full_name}}</small>
                        <p>{{post.metin | safe | linebreaks}}</p>
                        <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary">Review</a></p>
                        {% if request.user.is_authenticated%}
                        <p><a href="{{ post.get_update_url }}" class="btn btn-default">Update</a></p>
                        <p><a href="{{ post.get_delete_url }}" class="btn btn-danger">Delete</a></p>
                        {% endif %}
                    </div>
                </div>

            </div>
            
            </div>


        
        </div>


{% endblock %}